

body {
  margin: 0;
  padding: 0;
}

/* Main Container */
.dashboard-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


/* Header */
.header {
  height: 60px;
  flex-shrink: 0;
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.logo {
  margin: 0;
  font-size: 20px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.welcome-text {
  font-size: 14px;
}

.profile-circle {
  width: 36px;
  height: 36px;
  background-color: #6366f1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* Body Layout */
.dashboard-body {
  flex: 1;
  display: flex;
  overflow: hidden;   /* 🔥 Important */
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f3f4f6;
  overflow-y: auto;
}


